<form action="/cart" method="POST">
  <button class="btn" type="submit">Add to Cart</button>
  <!-- The POST request will pass the product id info into the BE -->
  <input type="hidden" name="productId" value="<%= product.id%>" />
</form>
