.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.orders-list h1 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}

.orders-list > li {
  background-color: lightcyan;
  list-style: none;
  padding: 1rem;
  border-radius: 0.5rem;
}

.products-list {
  padding: 0 0 0 0.5rem;
}

.products-list > li {
  list-style: none;
}
